body {
	overflow-x: hidden;
	margin: 0;
	background-image: url("https://static.maximumwallhd.com/fr/fond-ecran/nature/42622-trees-sky-herbs-sunrise-clouds.jpg");
	background-attachment: fixed;
	overflow-x: scroll;
	  background-size: cover;
}

/*   */
/*  http://www.fantom-xp.com/wallpapers/29/Nature_Mysterys.jpg */
/* http://thumbs.dreamstime.com/z/bulles-vertes-de-fond-de-nature-13978833.jpg */
/* https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTGEHnxqizqqzVpLS7B2dSsa3lYhVAIKO4H8vX6me8EiCOpPhUXfg */
/* http://www.google.fr/url?source=imglanding&ct=img&q=http://www.favorisxp.com/fond-ecran-vista/fond-ecran-vista-macro-palme-verte.jpg&sa=X&ei=HDhmVZqfL8L2UIGkgMAM&ved=0CAkQ8wc4GA&usg=AFQjCNFYmTjVdadyt93UmEDytuLkeBYWKA */


/*  https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSP7ieZHsJQtx-FtVBFeFufv2qmdjEWDGg37OJvTr8hVlyYbFbf   URL du fond de la baniere */

#site {

	min-height: 650px;

}


#banner1 {

	background-color: white ;
	height: 100px;
	padding-left: 150px;
	background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSP7ieZHsJQtx-FtVBFeFufv2qmdjEWDGg37OJvTr8hVlyYbFbf");
}

#banner1 div#erreur_connexion{
	position: absolute;
	margin-top: 70px;
	margin-left: 680px
}
#banner1 div#titre {
	position: absolute;
	margin-top: 5px;
	margin-left: 100px;		
	margin-right: 10px;
	font-weight: bold;
	font-size: 30px;


	
}
#banner1 div.logo {
			float: left;
			padding-top: 0px;
			margin-left: 10px;

			width: 100px;
			height: 100px;
		}


#banner1 div#register {
	position: absolute;
	margin-top: 50px;
	margin-left: 780px;
	list-style-type: none;
}	


#banner1 div#login{
	position: absolute;
	margin-top: -20px;
	margin-left: 900px;
	list-style-type: none;

}
#banner1 div#langue{
	position: absolute;
	margin-top: 20px;
	margin-left: 780px;
	list-style-type: none;
}

#banner1 div#barrederecherche{
	position: absolute;
	margin-top: 60px;
	margin-left: 450px;
	height: 35px		
}
#banner1 div#barrederecherche.champ{
	height: 35px;
	width: 600px;
}


#menu {
	margin: auto;
	width: 1100px;
	height:40px;
	position: relative;

}

#menu ul {
	margin: 0;
	padding: 0;
	position: relative;
	
}

#menu ul li {

	border-right: 1px solid black;
	display: inline-block;
	list-style-type: none;
	background-color: black;

}

#menu ul li a {
	position: center top;
	text-align: center;
	padding-top: 10px;
	display: inline-block;
	height: 30px;
	width: 182.3px;
	color: white;
	text-decoration: none;
	font-style: italic;

}

#contenuprincipal {
	min-height: 500px;
	display: block;
	width: 1100px;
	margin: auto;
}

}
#contenuprincipal p {
  margin-top: 0px;
}
 
#contenuprincipal span#tomatecerise {
	margin-left: 200px;

}

#deposeruneoffre{

	margin-bottom: 30px
}

#deposeruneoffre h1 {

	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	height: 45px;
	text-align: center;
	text-decoration: underline;
}

#formulaire{

	border: 2px dotted black;
	border-radius: 4%;
	width: 500px;
	margin-left: 140px;
	margin-top: 20px;
	display: inline-block;
	background-color: #D5E896;
	vertical-align: top;		
}

#formulaire div{
	display: inline-block;
	margin-bottom: 25px;
	margin-left: 68px;
	margin-top: -10px;
}

 #formulaire table{
	
	margin-left: 10px;
}

#div_photo{

	margin-left: 55px;
	margin-bottom: 100px;
	margin-top: 100px;
	display: inline-block;
	min-height: 300px;
	max-height: 400px;
	min-width: 300px;
	max-width: 400px;
}

#contenuprincipalf {
	min-height: 500px;
 	 margin-left: auto;
 	 margin-right: auto;
	display: block;
	width: 500px;
	margin: auto;
}


#profil {
	width: 500px;
	height: 600px;
	vertical-align: top;	
	display: inline-block;
	margin-left: 100px;
	position: fixed;

}


#profil_info{

	border: 2px dotted black;
	width: 450px;
	height: 400px;
	background-color: #D5E896;	
	font-size: 1.3em;
	border-radius: 5%;	
	margin-top: 50px;
}

#profil table{
	margin-top: -170px;
	margin-left: 10px;
	text-align: right;
}

#profil td {
	padding: 4px;
	padding-right: 15px;
	height: 40px;
	text-align: right;
	
}

#profil td p {
	background-color: white;
	display: inline-block;
	width: 192px;

}

#profil h1 {
	text-align: center;
	margin-top: -8px;
	text-decoration: underline;
}

.profil_offre {
	width: 525px;	
	display: inline-block;
	margin-left: 675px;
}

.profil_offre h1, .offre_fruit_legume h1 {
	text-align: center;
	width: 300px;
	margin: auto;
	margin-top: 10px;
	background-color: white;
}

.offre  {

	border: 2px dotted black;
	width: 450px;
	max-width: 450px;
	min-height: 400px;
	max-height: 500px;
	background-color: #D5E896;	
	font-size: 1.3em;
	border-radius: 5%;	
	margin: 15px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.offre table{
	margin: auto;
	margin-top: -245px;
	margin-right: 90px;
}

.offre td{
	text-align: right;
	height: 33px;
	padding-right: 10px;

}


.offre_fruit_legume {

	width: 525px;	
	margin-left: 450px;
	min-height: 520px;	
	display: inline-block;
	vertical-align: top;
}

.offre_fruit_legume table{

	margin-right: 10px;

}

#lien_offre {

	margin: auto;
	font-size: 35px;
	margin-top: 80px;
}

#lien_offre td {

	padding: 20px;
}


.lien_produit {

	display: inline-block;
	margin-left: 200px;
	margin-top: 150px;
	font-size: 35px;
	position: fixed;
}

.lien_produit a, #lien_offre a {
	color: #062B50;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
}

.lien_produit a:hover, #lien_offre a:hover {
	text-decoration: underline;
}

#titre {
	text-align: center;
}

footer {
	padding-bottom: 0px;
	margin-left: 115px;
	text-align: center;
	background-color: pink;
	height: 60px;
	width: 1100px;
	position: absolute;
}

footer p {
	top: 20px;
	color: grey;
	font-weight: bold;
	position: relative;
}

#defile{ 
width:800px; 
margin:auto; 
padding:10px; 
} 


#diapo {
    position: relative;
    width: 200px;
}
#thumbs {
    width: 180px;
    float: left;
}
#thumbs a {
    display: block;
    float: right;
    margin: 0 0 5px 5px;
    width: 50px;
    height: 70px;
    border: 0px solid #000;
}
#thumbs a img {
    width: 50px;
    height: 50px;
    border: 0;
}
#thumbs a:hover {
    border-color: #ddd;
}
#thumbs a:hover img {
    position: absolute;
    width: auto;
    height: 300px;
    left: 185px;
    top: 0;
    border: 1px solid #333;
}

#deconnexion{

	color: blue;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}

#deconnexion:hover{

	color: #D9011E;
	text-decoration: underline;
}



