body {
	overflow-x: hidden;
	margin: 0;
	background:  #66b6fc;
	overflow-x: scroll;
}

#banner1 {
	margin-left: auto;
  	margin-right: auto;
	display: block;
	background-color: white ;
	height: 104px;
	width: 1100px;
	
}

#banner1 div#erreur_connexion{
	position: absolute;
	margin-top: 70px;
	margin-left: 680px
}
#banner1 div#titre {
	position: absolute;
	margin-top: 5px;
	margin-left: 100px;		
	margin-right: 10px;
	font-weight: bold;
	font-size: 30px;


	
}
#banner1 div.logo {
			float: left;
			padding-top: 0px;
			margin-left: 10px;

			width: 100px;
			height: 100px;
		}


#banner1 div#register {
	position: absolute;
	margin-top: 50px;
	margin-left: 780px;
	list-style-type: none;
}	


#banner1 div#login{
	position: absolute;
	margin-top: -20px;
	margin-left: 900px;
	list-style-type: none;

}
#banner1 div#langue{
	position: absolute;
	margin-top: 20px;
	margin-left: 780px;
	list-style-type: none;
}

#banner1 div#barrederecherche{
	position: absolute;
	margin-top: 60px;
	margin-left: 450px;
	height: 35px		
}
#banner1 div#barrederecherche.champ{
	height: 35px;
	width: 600px;
}


#menu {
	margin-left: auto;
  	margin-right: auto;
	width: 1100px;
	height:40px;
	position: relative;

}

#menu ul {
	margin: 0;
	padding: 0;
	position: relative;
	
}

#menu ul li {

	border-right: 1px solid #000;
	display: inline-block;
	list-style-type: none;
	
}

#menu ul li a {
	position: center top;
	text-align: center;
	padding-top: 10px;
	display: inline-block;
	height: 30px;
	width: 182.34px;
	color: black;
	text-decoration: none;
	background:-moz-linear-gradient(top, #fc3e0f 0%, #ff670f 28%, #f9490e 52%, #ff670f 71%, #ff670f 83%, #ff330f 100%);
	background:-webkit-linear-gradient(top, #fc3e0f 0%, #ff670f 28%, #f9490e 52%, #ff670f 71%, #ff670f 83%, #ff330f 100%);
}

#menu ul li a:hover {
	color: white;

}



#contenuprincipal {
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 1100px;
	margin: auto;
}
#contenuprincipal p {
  margin-top: 0px;
}
 
#contenuprincipal span#tomatecerise {
	margin-left: 200px;

}

#deposeruneoffre{
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 1100px;
	margin: auto;
}
#contenuprincipalf {
	min-height: 500px;
 	 margin-left: auto;
 	 margin-right: auto;
	display: block;
	width: 500px;
	margin: auto;
}




footer {
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
	background-color: pink;
	height: 60px;
	width: 1100px;
}

footer p {
	top: 20px;
	color: grey;
	font-weight: bold;
	position: relative;
	
}
#defile{ 
width:800px; 
margin:auto; 
padding:10px; 
} 


#diapo {
    position: relative;
    width: 200px;
}
#thumbs {
    width: 180px;
    float: left;
}
#thumbs a {
    display: block;
    float: right;
    margin: 0 0 5px 5px;
    width: 50px;
    height: 70px;
    border: 0px solid #000;
}
#thumbs a img {
    width: 50px;
    height: 50px;
    border: 0;
}
#thumbs a:hover {
    border-color: #ddd;
}
#thumbs a:hover img {
    position: absolute;
    width: auto;
    height: 300px;
    left: 185px;
    top: 0;
    border: 1px solid #333;
}
